name: Test package

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 5
          max_attempts: 3
          retry_wait_seconds: 30
          command: |
            set -e
            sudo apt-get update -y
            sudo apt-get install -y autoconf sed ghostscript poppler-utils perl-base
            sudo apt-get install -y `autoconf --trace 'PDFLBR_CHECK_PERL_MODULE:$2' | sed 's/,//g'`

      - name: Show Perl configuration
        run: |
          perl '-V:.*'

      - name: Configure
        run: |
          ./bootstrap
          if ! ./configure; then
            cat ./config.log
            exit 1
          fi

      - name: Build
        run: |
          make
